<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>MovieInfo</title>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">MovieInfo</a>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="jumbotron">
      <h3 class="text-center">Search For Any Movie</h3>
      <form id="searchForm" action="/search" method="POST">
        <input name="searcher" type="text" class="form-control" id="searchText" placeholder="Search Movies...">
      </form>
    </div>
  </div>
  <div class="container">

    <div class="content">
      <div class="header">

        <img src="{{result.Poster}}" alt="pic">
      </div>
      <div class="text">
        <h2>Title:{{result.Title}}</h2>
        <hr>
        <h4>{{result.Genre}}</h4>
        <h4>Year:{{result.Year}}</h4>
        <span>Actors:{{result.Actors}}</span><br>
        <span>{{result.Plot}}</span>
      </div>

    </div>
  </div>

</body>

</html>